#map-container6 {
  margin: 0;
  height: 700px;
  width: 100%;
  font-family: sans-serif;
  background-color: #04041b;
}

#tools {
  top: 1rem;
  right: 1rem;
}

#tools a {
  display: inline-block;
  padding: 0.5rem;
  background: white;
  cursor: pointer;
}
