#map-container-raster3 {
  margin: 0;
  height: 97%;
  width: 100%;
  font-family: sans-serif;
}

#slider {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
}
